body {
    margin: 1em 0em 0em 1em;
    height: calc(100vh - 3em);
    width:  calc(100vw - 2em);
    background-color: black;
    font-family: arial;
}

#map-menu {
    color: white;
}

#map-menu .map {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.25s;
    padding: 1em;
    background-color: navy;
    margin: 0.5em;
    border-radius: 0.25em;
}

#map-menu .description {
    transition: 0.25s;
    color: dimgray;
    display: block;
}

#map-menu .map:hover {
    transition: 0.25s;
    background-color: blue;
    margin-left: 0em;
    margin-right: 0em;
}

#map-menu .map:hover .description {
    transition: 0.25s;
    color: lightblue;
}

#map-menu .map[encrypted] h2:after {
    content: " 🔒";
}

#cover {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    background-color: black;
    z-index: 0;
}

#addmenu {
    transition: 0.5s;
    height: 4em;
    width: 4em;
    bottom: 1em;
    right: 1em;
    position: fixed;
    background-color: lightslategrey;
    border-radius: 4em;
    z-index: -1;
}

#addmenu:hover {
    cursor: pointer;
    background-color: white;
}

#addmenu #xLine {
    transition: 0.5s;
    position: absolute;
    display: block;
    background-color: black;
    border-radius: 0.1em;
    bottom: 1.75em;
    right: 0.75em;
    height: 0.5em;
    width: 2.5em;
}

#addmenu #yLine {
    transition: 0.5s;
    position: absolute;
    display: block;
    background-color: black;
    border-radius: 0.1em;
    bottom: 0.75em;
    right: 1.75em;
    height: 2.5em;
    width: 0.5em;
}

#addmenu ul {
    transition: 0.25s;
    position: absolute;
    transform: translateX(50%);
    right: 2em;
    list-style: none;
    bottom: -0.25em;
    width: 0.15em;
    height: 2.25em;
    background-color: black;
    border: black solid;
    border-radius: 0.1em;
    padding: 0;
}

#addmenu.open ul {
    position: absolute;
    transform: translateX(50%);
    height: calc(10em + 5px);
    right: 2em;
    bottom: 4em;
    width: 4em;
    border: lightslategrey solid;
    border-radius: 0.25em;
}

#addmenu ul li {
    background-color: transparent;
    color: transparent;
    margin-right: 0.1em;
    margin-left: 0.1em;
    text-align: center;
    margin-bottom: 0em;
    margin-top: 0em;
    font-size: 0em;
    border: solid transparent 0px;
    width: 100%;
    height: calc(20% - 5px);
}

#addmenu.open ul li {
    height: calc(20% - 5px);
    width: calc(100% - 0.25em);
    transition: 0.25s;
    background-color: white;
    color: black;
    margin-right: 0em;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    font-size: 1.5em;
    border: solid white 1px;
}

#addmenu ul li:hover {
    background-color: black;
    color: white;
}

input {
    border: none;
    font-size: inherit;
    background-color: transparent;
    text-align: center;
    margin-right: 0;
    padding: 0;
}

.sub input {
    color: white;
}

.editing {
    box-shadow: 0 0 0.5em 0 white;
}

.addLink {
    padding: 1em;
    background-color: white;
    position: absolute;
    border-radius: 2em;
    box-shadow: 0 0 0.5em 0.1em grey;
    transition: 0.25s;
    opacity: 0.5;
    z-index: 1;
}

.addLink:hover {
    box-shadow: 0 0 0 0.1em grey;
    opacity: 1;
}

.addLink:after {
    content: "+";
    position: absolute;
    font-size: 2em;
    width: 1em;
    height: 1em;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 1em;
}

#linkTop {
    top: -2.5em; 
    left: calc(50% - 1em);
}

#linkBottom {
    bottom: -2.5em;
    left: calc(50% - 1em);
}

#linkLeft {
    left: -2.5em;
    top: calc(50% - 1em);
}

#linkRight {
    right: -2.5em; 
    top: calc(50% - 1em);
}

.addLink.mouseLink {
    padding: 0.5em;
}

.addLink.mouseLink:after {
    content: none;
}

#linkTop.mouseLink {
    top: -0.6em;
    left: calc(50% - 0.5em);
}

#linkBottom.mouseLink {
    bottom: -0.6em;
    left: calc(50% - 0.5em);
}

#linkLeft.mouseLink {
    left: -0.6em;
    top: calc(50% - 0.5em);
}

#linkRight.mouseLink {
    right: -0.6em; 
    top: calc(50% - 0.5em);
}

.tooltip {
    overflow-wrap: anywhere;
}

.head, .sub, .info, .era, .link {
    user-select: none;
}

.head, .sub, .info {
    transform-style: preserve-3d;
    border: solid;
    padding: 1em 0em 1em 0em;
    width: max-content;
    position: absolute;
    transform: translate(-50%);
    z-index: 2;
    background-color: black;
}

.head .tooltip,
.sub .tooltip,
.info .tooltip {
    background-color: black;
    transition: 0.25s;
    position: absolute;
    padding: 1em 0.5em 0em 0.5em;
    top: 50%;
    transform: translateX(-50%);
    left: 50%;
    font-size: small;
    width: -webkit-fill-available;
    border: 0.1em solid white;
    border-radius: 0.5em;
    color: #fff;
    text-align: center;
    opacity: 0;
    resize: none;
    overflow: hidden;
}

.head:hover .tooltip,
.sub:hover .tooltip,
.info:hover .tooltip,
.editing .tooltip {
    opacity: 1;
    height: initial;
    margin-top: 1em;
    top: 100%;
}

.colorPicker {
    transition: 0.25s;
    position: absolute;
    left: 50%;
    top: 0;
    opacity: 0;
}

.head:hover .colorPicker {
    transition: 0.25s;
    left: calc(100% + 0.5em);
    opacity: 1;
}

.era .tooltip {
    white-space: nowrap;
    background-color: white;
    transition: 0.1s;
    position: absolute;
    padding: 0.5em 0;
    left: 100%;
    font-size: small;
    color: transparent;
    width: 0;
    margin-left: 0em;
    height: 1em;
    top: 0;
    margin-top: 0;
    transition: 0.25s;
    color: black;
    padding: 0.5em 0.75em;
    width: max-content;
    height: 1em;
}

.head {
    color: black;
    background-color: white;
    border-radius: 0.1em;
}

.description {
    display: none;
}

.sub {
    border-radius: 2em;
}

.era {
    width: 2em;
    background-color: white;
    height: 100%;
    position: absolute;
    transform: translate(-50%, 0);
    top: 0;
    margin-left: 0.5em;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    z-index: 1;
    pointer-events: none;
}

#popup {
    visibility: hidden;
    pointer-events: visible;
    z-index: 10;
    background-color: black;
    position: fixed;
    color: white;
    border: solid;
    padding: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: min-content;
    width: 15em;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#popup input:not([type="checkbox"]),
textarea {
    margin-top: 0.5em;
    border: solid slategrey 0.15em;
    border-radius: 0.5em;
    color: white;
    cursor: pointer;
    padding: 0.25em;
}

#popup input[type="checkbox"] {
    align-self: flex-start;
    margin: 0.25em 0 1em 0;
}

#popup input[type="text"],
#popup input[type="password"],
#popup textarea {
    margin-top: 0.75em;
    border: solid slategrey 0.1em;
    background-color: black;
    border-radius: 0.1em;
    cursor: text;
    font-size: 0.75em;
    margin-bottom: 1em;
}

#isEncrypted:not(:checked) ~ *:not([type="submit"]) {
    opacity: 0.25;
    pointer-events: none;
}

#popup input[type="submit"] {
    border: solid slateblue 0.15em;
}

#popup input[type="button"],
#popup input[type="submit"] {
    transition: 0.2s;
}

#popup input[type="button"]:hover,
#popup input[type="submit"]:hover {
    transition: 0.2s;
    border-color: red;
}

#mapSettings {
    z-index: 10;
    transition: 0.25s;
    padding: 0.2em 0.1em 0.2em 0.1em;
    position: fixed;
    right: 1em;
    top: -1em;
    color: transparent;
    background: white;
    border-radius: 0em 0em 0.25em 0.25em;
    outline: 0.15em solid slategray;
    
}

#mapSettings:hover {
    cursor: pointer;
    top: 0em;
    color: black;
}

#keyLabel.error::after {
    color: red;
    content: " (Invalid)";
    font-size: small;
}