#project-menu {
    color: white;
    margin-top: 2em;
}

#project-menu .project {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.25s;
    padding: 1em;
    background-color: var(--col-dark-red);
    margin: 0.5em;
    border-radius: 0.25em;
    border: 0.1em solid var(--col-red-hover);
    box-shadow: 0em 0em 0.3em var(--col-red-shadow);
    text-shadow: 0em 0em 0.2em var(--col-red-shadow);
}

#project-menu .description {
    transition: 0.25s;
    color: var(--col-red-orange);
    display: block;
    text-shadow: 0em 0em 0.1em var(--col-red-orange-shadow);
}

#project-menu .project:hover {
    color: black;
    transition: 0.25s;
    background-color: var(--col-red-orange);
    margin-left: 0em;
    margin-right: 0em;
}

#project-menu .project:hover .description {
    transition: 0.25s;
    color: var(--col-brown-red);
}

#cover {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    background-color: black;
    z-index: 0;
}

#addmenu {
    transition: 0.25s;
}

#addmenu::before {
    content: "New Project";
    position: absolute;
    top: 7em;
    bottom: 0;
    color: white;
    transition: 0.25s;
    rotate: -90deg;
    border: 0.1em solid white;
    border-radius: 0.25em;
    height: 2em;
    width: 7em;
    text-align: center;
    line-height: 2em;
    pointer-events: none;
    transform: translateY(-1.5em);
    opacity: 0;
}

#addmenu:hover {
    transition: 0.25s;
    rotate: 90deg;
}

#addmenu:hover::before {
    opacity: 1;
}