body {
    color: #ddd;
    padding: 0;
}

#wikiPage {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    font-size: 1em;
    border-radius: 0.5em;
    padding: 0.5em;
    width: calc(100% - 1.5em);
    text-shadow: 0 0 0.1em #ffffff80;
}

#wikiPage::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.5em;
    position: absolute;
    left: 0;
    z-index: -1;
}

#wikiPage h1,
#wikiPage h2,
#wikiPage h3 {
    color: #e8e8e8;
    text-shadow: 0 0 0.25em var(--col-orange-hover);
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
    display: inline-block;
    transition: 0.25s;
    outline-color: transparent;
}

#wikiPage h1 {
    font-weight: bold;
    margin: -0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;
    color: #999;
}

#wikiPage h1 a {
    filter: grayscale(0.5);
}

#wikiPage h1::after {
    content: "";
    display: block;
    width: calc(100vw - 2.5em);
    height: 1px;
    background-color: #333;
}

#wikiPage h2 {
    font-weight: bold;
    margin: 0;
    font-size: 1.75em;
    line-height: 2em;
}

#wikiPage h3 {
    font-weight: normal;
    margin-bottom: 0;
    font-size: 1.5em;
    line-height: 1.5em;
}

#wikiPage h4 {
    font-size: 1.15em;
    margin: 0;
}

#wikiPage h3::after {
    content: "";
    display: block;
    width: calc(100vw - 2.5em);
    height: 1px;
    background-color: #555;
}

#wikiPage p {
    display: flex;
}

#wikiPage a {
    color: var(--col-orange);
    border-radius: 0.25em;
    text-decoration: none;
    display: inline-block;
    transition: 0.25s;
    text-shadow: 0 0 0.1em var(--col-orange-shadow);
}

#wikiPage a::after {
    content: "";
    display: block;
    margin-left: 100%;
    width: 0;
    height: 2px;
    transition: 0.25s;
    background-color: var(--col-orange);
    box-shadow: 0 0 0.05em var(--col-orange-shadow);
}

#wikiPage a.invalid {
    color: var(--col-red);
    text-shadow: 0 0 0.5em var(--col-red-shadow);
}

#wikiPage a.invalid::after {
    background-color: var(--col-red);
    box-shadow: 0 0 0.1em var(--col-red-shadow);
}

#wikiPage a:hover {
    color: var(--col-red-orange);
    text-shadow: 0 0 0.5em var(--col-red-orange-shadow);
}

#wikiPage a:hover::after {
    width: 100%;
    transition: width 0.25s, background-color 0.25s;
    margin-left: 0%;
    background-color: var(--col-red-orange);
    box-shadow: 0 0 0.1em var(--col-red-orange-shadow);
}

#wikiPage ul,
#wikiPage ol {
    padding: 0.5em 0 0.5em 2em;
    margin: 2em 0 0.5em 0.5em;
    background-color: #0c0c0c;
    width: calc(100% - 3.5em);
    max-width: calc(100vw - 6em);
    border-radius: 0.5em;
    outline: 1px solid #181818;
}

#wikiPage ol.toc::before {
    content: "Table of Contents";
}

#wikiPage ul[headerText]::before,
#wikiPage ol[headerText]::before {
    content: attr(headerText);
}

#wikiPage ol.toc::before,
#wikiPage ul[headerText]::before,
#wikiPage ol[headerText]::before {
    display: block;
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0.5em;
    margin-left: -1em;
    color: #bbb;
}

#wikiPage ul li::marker,
#wikiPage ol li::marker {
    color: #888;
}

#wikiPage ul li,
#wikiPage ol li {
    margin: 0.25em 0;
    padding-left: 0.5em;
}

#wikiPage ul li:not(:last-child)::after,
#wikiPage ol li:not(:last-child)::after {
    content: "";
    display: block;
    width: calc(100% - 1.5em);
    height: 1px;
    background-color: #222;
    margin-top: 0.5em;
    position: relative;
}

#wikiMap {
    max-width: calc(100vw - 4em);
    max-height: 10em;
}

#wikiPage span.note {
    filter: brightness(0.5);
    width: fit-content;
    margin-top: 0.5em;
    padding: 0em 0.3em;
    font-size: small;
    background-color: #222;
    border-radius: 0.25em;
    display: inline-block;
}

#wikiPage .collapsable {
    top: 1em;
    position: relative;
    margin-top: 1em;
    background-color: #0c0c0c;
    outline: #222 0.1em solid;
    transition: 0.25s;
    display: grid;
    overflow: auto;
}

#wikiPage .collapsable>h3:first-child {
    padding: 0.5em;
    margin: 0;
    position: relative;
    cursor: pointer;
    background-color: #111;
}

#wikiPage .collapsable>h3:first-child::after {
    content: '\f077';
    font-family: FontAwesome;
    display: inline;
    width: min-content;
    height: min-content;
    position: absolute;
    right: 1em;
    background: none;
    transition: 0.25s;
}

#wikiPage .collapsable ul {
    margin: 0em 1em;
    outline: none;
    max-width: none;
    width: auto;
    list-style: none;
    padding: 0.5em 0em;
}

#wikiPage .collapsable ul li {
    padding: 0;
    display: inline;
}

#wikiPage .collapsable ul li::after {
    display: inline;
}

#wikiPage .collapsable form {
    display: inline-flex;
    width: calc(100% - 0em);
}

#wikiPage .collapsable form * {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#wikiPage .collapsable form h3 {
    margin: 0;
    margin-left: 1em;
    margin-right: 2em;
}

#wikiPage .collapsable form h3::after {
    width: calc(100% + 1em);
}

#wikiPage .collapsable.collapsed>h3:first-child::after {
    transform: rotate(180deg);
}

#wikiPage .collapsable.collapsed *:not(:first-child) {
    display: none !important;
}

#wikiPage pre {
    white-space: pre-wrap;
    margin: 1em;
}

#wikiPage .infobox {
    background-color: #0c0c0c;
    outline: 1px solid #181818;
    border-radius: 0.5em;
    padding: 0.5em;
    border-collapse: collapse;
    width: 550px;
    max-width: 50vw;
    min-width: 20vw;
    margin: 1em 0em 0em 1em;
    float: right;
}

#wikiPage .infobox * {
    transition: 0.25s;
    outline-color: transparent;
}

#wikiPage .infobox caption {
    background-color: #111;
    padding-bottom: 1em;
}

#wikiPage .infobox caption h3::after {
    width: 100%;
    background-color: #222;
}

#wikiPage .infobox tr {
    position: relative;
    display: flex;
}

#wikiPage .infobox tr:not(:last-child) {
    border-bottom: 1px solid #181818;
}

#wikiPage:not(.editing) .infobox h4.hidden,
#wikiPage:not(.editing) .infobox tr.hidden,
#wikiPage:not(.editing) .collapsable.hidden {
    display: none;
}

#wikiPage .infobox th {
    text-align: left;
    padding: 0.5em;
    padding-left: 0.5em;
    color: #999;
    vertical-align: top;
    border-right: 1px solid #181818;
    width: 33%;
}

#wikiPage .infobox td {
    padding: 0.5em;
    padding-left: 0.5em;
    vertical-align: top;
    width: 66%;
}

#wikiPage.editing [contenteditable="true"] {
    background-color: #1c1c1c;
    transition: 0.25s;
    outline: 1px solid #181818;
    border-radius: 0.25em;
    padding: 0.25em;
    margin: 0.25em 0.5em;
}

#wikiPage.editing [contenteditable="true"] a {
    pointer-events: none;
}

#wikiPage.editing [contenteditable="true"]:focus {
    background-color: #0c0c0c;
    outline: 1px solid var(--col-orange-hover);
}

#wikiPage form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em 0em;
}

#wikiPage form input,
#wikiPage form select,
#wikiPage form button {
    margin: 0.5em 0em;
    padding: 0.5em;
    border-radius: 0.25em;
    outline: 1px solid #181818;
    background-color: #1c1c1c;
    color: #999;
    border: none;
    transition: 0.25s;
    cursor: pointer;
}

#wikiPage form input {
    cursor: text;
}

#wikiPage form button:hover {
    color: #fff;
    outline: 1px solid var(--col-orange-hover);
}

#wikiPage form input:focus,
#wikiPage form select:focus,
#wikiPage form button:focus {
    background-color: #0c0c0c;
    outline: 1px solid var(--col-orange-hover);
}

#tooltip {
    z-index: 10;
    position: absolute;
    background: #111;
    color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: 1em;
    max-width: 300px;
    width: max-content;
    opacity: 0.8;
    font-size: 0.8em;
    animation: tooltip 1s;
    transform: translateX(-50%);
    outline: 1px solid var(--col-orange-hover);
    text-align: center;
    pointer-events: none;
}

@keyframes tooltip {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        margin-top: -1em;
    }

    100% {
        opacity: 0.8;
    }
}

#wikiPage tr.new {
    display: flex;
    height: 5px;
    border: none;
    outline: none;
    width: 100%;
    align-items: center;
}

#wikiPage span.new {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--col-orange-hover);
    border-radius: 0.5em;
}

@media screen and (max-width: 600px) {
    #wikiPage .infobox {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin: 1em 0em 0em 0em;
        float: none;
    }

    #wikiPage ul,
    #wikiPage ol {
        width: 100% !important;
    }
}