#canvas {
    width: calc(100% + 2em);
    height: calc(100% + 3em);
    margin: -1em;
    background: 
        repeating-linear-gradient(
            to right,
            transparent 0px,
            transparent 20px,
            var(--col-brown) 20px,
            var(--col-brown) 22px
        ),
        linear-gradient(
            to bottom,
            black 0%,
            var(--col-dark-brown) 25%,
            black 50%,
            black 100%
        );
    background-repeat: repeat-x;
    animation: bg-shift 5s alternate infinite ease-in-out;
}

@keyframes bg-shift {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 11px 0;
    }
}

#list {
    width: 100vw;
    height: calc(100vh / 2);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--col-black-red);
    outline: 0.2em solid var(--col-blood-red);
    border-top: 0.2em solid var(--col-blood-red);
    overflow-y: scroll;
    font-family: "Courier New", Courier, monospace;
    box-shadow: 0 0 0.5em var(--col-blood-red);
    opacity: 0;
}

#list h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em;
    background-color: var(--col-brown-red);
    color: var(--col-red);
    position: sticky;
    top: 0;
    text-shadow: 0 0 0.5em var(--col-red-shadow);
    box-shadow: 0 0 0.5em var(--col-brown-red);;
}

#list table {
    width: calc(100% - 2em);
    max-height: 50vh;
    border-collapse: collapse;
    margin: 1em;
}

#list table tr {
    border: 0.2em solid var(--col-blood-red);
    box-shadow: 0 0 0.5em var(--col-blood-red);
}

#list table tr:not(:first-child):hover {
    background-color: var(--col-orange-hover);
    cursor: pointer;
}

#list table tr th {
    width: 50%;
    height: 100%;
    color: var(--col-red-orange);
    text-align: left;
    font-size: 1.5em;
    padding: 0.5em;
    text-shadow: 0 0 0.5em var(--col-red-orange-shadow);
}

#list table tr td {
    width: 50%;
    height: 100%;
    color: var(--col-orange);
    text-align: left;
    padding: 0.5em;
    text-shadow: 0 0 0.5em var(--col-orange-shadow);
}