body {
    margin: 1em 0em 0em 1em;
    height: calc(100vh - 3em);
    width:  calc(100vw - 2em);
    background-color: black;
    font-family: arial;
}

#addmenu {
    transition: 0.5s;
    height: 4em;
    width: 4em;
    bottom: 1em;
    right: 1em;
    position: fixed;
    background-color: lightslategrey;
    border-radius: 4em;
    z-index: -1;
}

#addmenu:hover {
    cursor: pointer;
    background-color: white;
}

#addmenu #xLine {
    transition: 0.5s;
    position: absolute;
    display: block;
    background-color: black;
    border-radius: 0.1em;
    bottom: 1.75em;
    right: 0.75em;
    height: 0.5em;
    width: 2.5em;
}

#addmenu #yLine {
    transition: 0.5s;
    position: absolute;
    display: block;
    background-color: black;
    border-radius: 0.1em;
    bottom: 0.75em;
    right: 1.75em;
    height: 2.5em;
    width: 0.5em;
}

#mapSettings {
    z-index: 10;
    transition: 0.25s;
    padding: 0.2em 0.1em 0.2em 0.1em;
    position: fixed;
    right: 1em;
    top: -1em;
    color: transparent;
    background: white;
    border-radius: 0em 0em 0.25em 0.25em;
    outline: 0.15em solid slategray;
    width: 1.5em;    
}

#mapSettings:hover {
    cursor: pointer;
    top: 0em;
    color: black;
}