:root {
    --col-dark-brown: #221100aa;
    --col-brown: #ff884408;

    --col-black-red: #100;
    --col-brown-red: #200;
    --col-dark-red: #300;

    --col-red: #f00;
    --col-red-shadow: #ff000088;
    --col-red-hover: #ff220033;

    --col-red-orange: #e30;
    --col-red-orange-shadow: #ee3300aa;
    --col-red-orange-hover: #ee550033;

    --col-orange: #f60;
    --col-orange-shadow: #ff6600cc;
    --col-orange-hover: #ff884433;

    --col-black-orange: #330;
    --col-brown-orange: #440;
    --col-dark-orange: #550;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
    transition: 0.5s;
}

*::-webkit-scrollbar-track {
    background-color: var(--col-orange-hover);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--col-orange);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--col-orange-shadow);
}

*::-webkit-scrollbar-corner {
    background: var(--col-orange-hover);
}

body {
    margin: 1em 0em 0em 1em;
    height: calc(100vh - 3em);
    width:  calc(100vw - 2em);
    background-color: black;
    font-family: arial;
}

.help body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#mapSettings {
    z-index: 10;
    transition: 0.25s;
    padding: 0.2em 0.1em 0.2em 0.1em;
    position: fixed;
    right: 1em;
    bottom: calc(100% - 1em);
    color: transparent;
    background: white;
    border-radius: 0em 0em 0.25em 0.25em;
    outline: 0.15em solid var(--col-orange);
    width: 1.5em;
    opacity: 0.25;
}

#mapSettings:hover {
    bottom: calc(100% + 0.15em);
    color: black;
    transform: translateY(100%);
    opacity: 1;
    outline-color: var(--col-red-orange);
}

#mapSettings::after {
    content: "";
    position: absolute;
    width: calc(100% + 1.5em);
    height: calc(100% + 1.5em);
    top: -0.75em;
    left: -0.75em;
    z-index: -1;
}

#mapSettings i {
    display: inline-block;
    text-align: center;
    width: 100%;
    line-height: 1.5em;
    transition: transform 0.1s;
}

#mapSettings i:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: var(--col-orange);
}

#mapSettings input[type=checkbox] {
    display: none;
}

#mapSettings:hover input[type=checkbox]:not(:checked) + i::after {
    content: "";
    position: absolute;
    width: 75%;
    height: 2px;
    background-color: var(--col-red);
    margin-top: 0.75em;
    left: 12.5%;
    transform: rotate(-45deg);
}

#mapSettings:hover input[type=checkbox]:not(:checked) + i:hover::after {
    transform: scale(1.1) rotate(-45deg);
}

#context-menu {
    z-index: 10;
    position: absolute;
    background: #333;
    color: white;
    border-radius: 0.5em;
    padding: 0.5em 0;
    margin: 0px;
    min-width: 150px;
    list-style: none;
    font-size: 0.75em;
}

#context-menu li {
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 15px;
    -webkit-user-select: none;
}

#context-menu li:hover {
    background: #555;
    cursor: pointer;
}

#context-menu li[data-key]::after {
    position: relative;
    content: attr(data-key);
    float: right;
    margin-right: 10px;
    background-color: #222;
    padding: 2px 5px;
    border-radius: 3px;
    top: -2px;
    font-weight: bold;
}

#context-menu li[data-key]:hover::after {
    background-color: #333;
}

#popup {
    visibility: hidden;
    pointer-events: visible;
    z-index: 10;
    background-color: black;
    position: fixed;
    color: var(--col-orange);
    text-shadow: 0 0 0.5em var(--col-orange-shadow);
    box-shadow: 0 0 1em 0.25em var(--col-orange-hover);
    border: solid;
    padding: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: min-content;
    width: 25em;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#popup input:not([type="checkbox"]),
textarea {
    margin-top: 0.5em;
    border: solid var(--col-red-orange) 0.1em;
    border-radius: 0.5em;
    color: white;
    text-shadow: 0 0 0.2em white;
    background-color: var(--col-dark-red);
    cursor: pointer;
    padding: 0.25em;
}

#popup input[type="checkbox"] {
    align-self: flex-start;
    margin: 0.25em 0 1em 0;
}

#popup input[type="text"],
#popup input[type="password"],
#popup input[type="email"],
#popup textarea {
    margin-top: 0.75em;
    border: solid var(--col-red-orange-shadow) 0.1em;
    background-color: black;
    border-radius: 0.1em;
    cursor: text;
    font-size: 0.75em;
    margin-bottom: 1em;
}

#popup button,
#popup select {
    transition: 0.2s;
    background-color: var(--col-orange-hover);
    color: var(--col-orange);
    border-radius: 0.5em;
    border-width: 0.1em;
}

#popup select {
    border: none;
}

#popup #save {
    padding: 0.5em 1em 0.5em 1em;
    border-width: 0.2em;
}

#popup button:hover,
#popup select:hover,
#popup #save:hover {
    transition: 0.2s;
    border-color: var(--col-red);
    color: var(--col-red-orange);
}

#popup table {
    margin: 0.5em 0 1em 0;
    border-collapse: collapse;
    width: 100%;
    border: solid var(--col-red-orange-shadow) 0.1em;
}

#popup table th {
    text-align: center;
    border-right: solid var(--col-red-orange-shadow) 0.1em;
    border-bottom: solid var(--col-red-orange-shadow) 0.1em;
    width: 100vw;
    padding: 0.5em;
}

#popup table th:last-child {
    border-right: none;
}

#popup table td {
    text-align: center;
    border-right: solid var(--col-red-orange-shadow) 0.1em;
    border-bottom: solid var(--col-red-orange-shadow) 0.1em;
    width: 100vw;
    padding: 0.25em;
}

#popup table td:last-child {
    border-right: none;
}

#popup table tr:last-child td {
    border-bottom: none;
}

#popup table tr td:first-child a {
    transition: 0.2s;
    color: var(--col-red);
    text-shadow: 0 0 0.2em var(--col-red-shadow);
}

#popup table tr td:first-child a:hover {
    transition: 0.2s;
    color: var(--col-red-orange);
    text-shadow: 0 0 0.2em var(--col-red-orange-shadow);
}

#notices {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}

.notice {
    pointer-events: visible;
    z-index: 10;
    background-color: var(--col-orange-hover);
    color: var(--col-orange);
    text-shadow: 0 0 0.2em var(--col-orange-shadow);
    border-radius: 0.5em;
    padding: 0.5em;
    text-align: center;
    top: 0.5em;
    opacity: 0;
    transition: 0.2s;
    width: max-content;
    max-width: calc(100vw - 2em);
    min-width: 10em;
    margin-top: 0.5em;
    border: solid var(--col-red-orange-hover) 0.1em;
    display: flex;
    transform: translateY(calc(-100% - 0.5em));
}

.notice.show {
    transition: 0.2s;
    opacity: 1;
    transform: translateY(0);
}

.notice.hide {
    /* Move left */
    transition: 0.2s ease-in-out;
    opacity: 0;
    transform: translateX(-100%);
}

.notice p {
    margin: 0;
    background-color: black;
    border-radius: 0.5em;
    padding: 0.5em;
    border: solid var(--col-red-shadow) 0.1em;
}

.notice i {
    cursor: pointer;
    margin-left: 0.5em;
    margin-top: 0.5em;
    transition: 0.2s;
    color: var(--col-red-orange);
    text-shadow: 0 0 0.2em var(--col-red-orange-shadow);
}

.notice i:hover {
    transition: 0.2s;
    color: var(--col-red);
    text-shadow: 0 0 0.2em var(--col-red-shadow);
}